p.sub-title1{
    color: aqua;
}
/*ｐはセレクタ、color プロパティ、aquaは値*/
p#sub-title2{
    color: green;
}
h1{
    font-size:50pt;
    font-weight:bold;
    color:burlywood
}
.kashi{
    color: yellow;
    font-weight: bold;
    font-size: larger;
}